@page
@model WebApp.Areas.Identity.Pages.Account.LogoutModel

@{
    ViewData["Title"] = "Log out";
}

<h1 class="mb-3">Log out</h1>

<form method="post">
    <p>Are you sure you want to log out?</p>
    <button type="submit" class="btn btn-danger">Log out</button>
    <a class="btn btn-secondary ms-2" href="~/">Cancel</a>
</form>
